<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rentx Email</title>

  <style>
    .container {
      max-width: 800px;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      background: #fff;
      box-shadow: 0px 2px 11px -8px rgba(0, 0, 0, 0.75);
      border-radius: 4px 4px 0px 0px;
      padding: 10px;
    }

    .button-forgot {
      background: #3498db;
      padding: 10px 16px;
      border-radius: 4px;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }

    .footer-mail {
      max-width: 812px;
      width: 100%;
      background: #f6f6f6;
      padding: 4px;
      text-align: center;
    }
  </style>
</head>

<body>
  <main class="container">
    <strong>Olá, {{name}}!</strong>
    <br />
    <br />
    <div>
      <span> Recebemos uma solicitação de alteração de senha em seu nome</span>
      <p>
        caso não tenha sido voçê ignore este email.
      </p>
      <br />
      <p>
        Se foi você, clique no botão abaixo para continuar.
      </p>
      <br />
      <a href={{link}} class="button-forgot">
        Recupear senha
      </a>
    </div>
    <br />
    <br />
  </main>
  <footer class="footer-mail">
    <h4>Equipe | <strong>Rentx&copy;</strong></h4>
    <span>Todos os direitos reservados<span>
  </footer>
</body>

</html>
